@tailwind base;
@tailwind components;
@tailwind utilities;


.group[data-focus-visible=true].group-data-\[focus-visible\=true\]\:ring-offset-2{
  outline-offset: 0 !important;
}
.expand-h{   
  
  transition: grid-template-rows 0.5s ease-out ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .input-class {
    @apply my-4
  }
  .icon-input{
    @apply w-5 h-5 text-blackText hover:text-blackText/65 transition-colors mb-2 hover:cursor-pointer
  }

  .bg-radial{
    background-image: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(65, 74, 83, 0.6),rgba(177, 177, 184, 0.3));
  }
  .bg-radial-dark{
    background-image: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(65, 74, 83, 0.6),rgb(38 38 38));
  }
  .bg-global-background{
    background-color: hsl(0,0%,0%,1);
  }
  .menu-height{
    height: calc(100% - 112px)!important;
  }
  .sidebar-height{
    height: calc(100vh - 64px );
    overflow: hidden;
  }
  .truck-animation{
    animation: speeder 1.5s linear infinite;
  }  
  
  .velocity>span:nth-child(1),
  .velocity>span:nth-child(2),
  .velocity>span:nth-child(3),
  .velocity>span:nth-child(4){
    width: 10px;
    height: 1px;
    /* background: #000; */
    position: absolute;
    animation: fazer1 .5s linear infinite;
  }
  .velocity>span:nth-child(2){
    top: 3px;
    animation: fazer2 .4s linear infinite;
  }
  .velocity>span:nth-child(3){
    top: 1px;
    animation: fazer3 .4s linear infinite;
    animation-delay: -1s;
  }
  .velocity>span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
  }
  @keyframes fazer1 {
    0% {
      left: 0;
    }
    100% {
      left: -30px;
      opacity: 0;
    }
  }
  @keyframes fazer2 {
    0% {
      left: 0;
    }
    100% {
      left: -40px;
      opacity: 0;
    }
  }
  
  @keyframes fazer3 {
    0% {
      left: 0;
    }
    100% {
      left: -15px;
      opacity: 0;
    }
  }
  
  @keyframes fazer4 {
    0% {
      left: 0;
    }
    100% {
      left: -60px;
      opacity: 0;
    }
  }
  @keyframes speeder {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-1px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -0px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 0px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -1px) rotate(-1deg);
    }
  }

  .bg-input-white{
    background-color: white !important;
  }

  .dark [data-rich-colors=true] [data-sonner-toast][data-type=warning] {
    @apply bg-zinc-900;
  }
  .dark [data-rich-colors=true] [data-sonner-toast][data-type=success] {
    @apply bg-zinc-900;
  }
  .dark [data-rich-colors=true] [data-sonner-toast][data-type=info] {
    @apply bg-zinc-900;
  }
  .dark [data-rich-colors=true] [data-sonner-toast][data-type=error] {
    @apply bg-zinc-900;
  }

  .mine {
    align-items: flex-end;
  }
  
  .message {
    border-radius: 12px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
  }
  .mine .message {
    color: white;
    margin-left: 40px;
    background: linear-gradient(to bottom, #0085D1 0%, #0f2137 100%);
    background-attachment: fixed;
    position: relative;
  }
  
  .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #0085D1 0%, #0f2137 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }
  
}
#gallery-pub .image-gallery-svg,
#gallery-gift .image-gallery-svg{
  width: 25px!important;
  height: 45px!important;
}
#gallery-pub-2 .image-gallery-svg,
#gallery-gift-2 .image-gallery-svg{
  width: 25px!important;
  height: 352px!important;
}
#gallery-pub .image-gallery-fullscreen-button,
#gallery-gift .image-gallery-fullscreen-button{
  bottom: -12px!important
}
#gallery-pub-2 .image-gallery-fullscreen-button,
#gallery-gift-2 .image-gallery-fullscreen-button{
  bottom: 10px!important;
  height: 50px;
}
#gallery-pub .image-gallery-fullscreen-button .image-gallery-svg,
#gallery-gift .image-gallery-fullscreen-button .image-gallery-svg{
  width: 15px!important;
  height: 35px!important;
 
}
#gallery-pub-2 .image-gallery-fullscreen-button .image-gallery-svg,
#gallery-gift-2 .image-gallery-fullscreen-button .image-gallery-svg{
  width: 15px!important;
  height: 35px!important;
 
}
#gallery-pub .image-gallery-image,
#gallery-pub .image-gallery,
#gallery-gift .image-gallery,
#gallery-gift .image-gallery-image{
  @apply h-36 w-full object-cover
}

#gallery-pub-2 .image-gallery-image,
#gallery-pub-2 .image-gallery,
#gallery-pub-2 .image-gallery-slide-wrapper,
#gallery-gift-2 .image-gallery,
#gallery-gift-2 .image-gallery-image{
  @apply h-[352px] w-full object-cover
}
#gallery-pub-2 .image-gallery-content.fullscreen,
#gallery-pub-2 .image-gallery-content.fullscreen .image-gallery-slide-wrapper,
#gallery-gift-2 .image-gallery-content.fullscreen,
#gallery-gift-2 .image-gallery-content.fullscreen .image-gallery-slide-wrapper{
  @apply h-full
}
#gallery-pub .image-gallery-content.fullscreen .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-image,
#gallery-gift .image-gallery-content.fullscreen .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-image,
#gallery-pub-2 .image-gallery-content.fullscreen .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-image,
#gallery-gift-2 .image-gallery-content.fullscreen .image-gallery-slide-wrapper .image-gallery-swipe .image-gallery-slides .image-gallery-image{
  @apply h-screen w-full object-contain
}

#gallery-pub .image-gallery-content .image-gallery-slide .image-gallery-image,
#gallery-gift .image-gallery-content .image-gallery-slide .image-gallery-image,
#gallery-pub-2 .image-gallery-content .image-gallery-slide .image-gallery-image,
#gallery-gift-2 .image-gallery-content .image-gallery-slide .image-gallery-image{
 @apply max-h-full
}

